<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>d</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- Header -->
        <header class="bg-white ">
            <nav class="p-4 bg-white shadow-md border-b ">


                <!-- Flex container -->
                <div class="grid grid-rows-1 grid-flow-col">

                    <!-- Name -->
                    <div>
                        <a href="#" class="font-bold text-4xl text-left hover:text-darkGrayishBlue">
                            <img src="../dist/img/github-mark/github-mark.svg" alt="Github Logo" href="#" class="inline-block h-8 w-8 mb-1 align-middle" />
                            <a class="font-bold text-4xl text-left hover:text-darkGrayishBlue" href="">Tyler B. Terry</a><br>
                            <p class="font-thin text-sm">tylerterry24@gmail.com</p>
                        </a>
                    </div>
    

                    <!-- Menu Items -->
                    <div class=" text-black text-center space-x-4 pt-5 mr-36">
                        <a href="index.html" class="hover:text-darkGrayishBlue">Home</a>
                        <a>|</a>
                        <a href="software.html" class="hover:text-darkGrayishBlue">Software Engineer</a>
                        <a>|</a>
                        <a href="#" class="hover:text-darkGrayishBlue">Model</a>
                        <a>|</a>
                        <a href="blog.html" class="hover:text-darkGrayishBlue">Blog</a>
                        <a>|</a>
                        <a href="#" class="hover:text-darkGrayishBlue">Contact</a>
                    </div>

                    <!-- Button -->
                    <div class=" text-black text-right space-x-4 pt-4">
                        <a
                        href="/src/liveDashboard.html"
                        class="p-3 px-6 pt-3 text-white bg-black rounded-full baseline hover:bg-wYellowLight"
                        >
                            Resumes
                        </a>
                    </div>
            
            
                    <!-- Hamburger Icon -->
                    <button
                    id="menu-btn"
                    class="block hamburger md:hidden focus:outline-none"
                    >
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                    </button>
                </div>
        
            </nav>
        </header>
    </body>
</html>